<div id="searchBar" class="navbar-right" style="margin-top:8px; display: none;">
    @using (Html.BeginForm("Index", "Search", FormMethod.Post))
    {
        <div class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input id="sQuery" name="sQuery" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" value="@(TempData["sQuery"] != null ? TempData["sQuery"].ToString() : "")">
                <span class="input-group-addon group-icon">
                    <span id="searchIcon" class="glyphicon glyphicon-search"></span>
                </span>
            </div>
            <button class="btn btn-primary btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var url = window.location.href;
    var searchBar = document.getElementById("searchBar");

    if (url.search("Employees") > 0) {
        searchBar.style.display = "block";
    } else if (url.search("Departments") > 0) {
        searchBar.style.display = "block";
    }
</script>