@model MVC.Models.mvcEmployeeTypeModel
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EmployeeTypeID)

        <table>
            <tr>
                <td>@Html.LabelFor(model => model.EmployeeTypeName)</td>
                <td>@Html.EditorFor(model => model.EmployeeTypeName)</td>
                <td> @Html.ValidationMessageFor(model => model.EmployeeTypeName)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" class="btn button"></td>
                <td><input type="reset" value="Reset" class="btn button"></td>
                <td></td>
            </tr>
        </table>
    }
</div>